api2.powdone.com {
	reverse_proxy localhost:3031
	log {
		output file /var/www/caddy/api2.powdone.com.log
	}
	encode gzip
}

counter-app.powdone.com {
	reverse_proxy localhost:3032
	log {
		output file /var/www/caddy/counter-app.powdone.com.log
	}
	encode gzip
}

chain.powdone.com {
	reverse_proxy localhost:8545
	log {
		output file /var/www/caddy/chain.powdone.com.log
	}
	encode gzip
}

explorer.powdone.com {
	reverse_proxy localhost:3033
	log {
		output file /var/www/caddy/explorer.powdone.com.log
	}
	encode gzip
}